[submodule "config/nvim"]
	path = config/nvim
	url = git@github.com:peterotool/nvim.git

[submodule "home/.tmux/plugins/tpm"]
	path = home/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git

 [submodule "config/alacritty/catppuccin"]
	path = config/alacritty/catppuccin
	url = https://github.com/catppuccin/alacritty.git
